[submodule "rp2040/lib/mcp2515"]
	path = rp2040/lib/mcp2515
	url = https://github.com/adamczykpiotr/pico-mcp2515
[submodule "rp2040/lib/can2040"]
	path = rp2040/lib/can2040
	url = https://github.com/KevinOConnor/can2040
