[submodule "rp2040/lib/mcp2515"]
	path = rp2040/mcp2515/lib/pico-mcp2515
	url = https://github.com/cityracingteam/pico-mcp2515
[submodule "rp2040/lib/can2040"]
	path = rp2040/lib/can2040
	url = https://github.com/KevinOConnor/can2040
[submodule "rp2040/lib/pico-sdk"]
	path = rp2040/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/boost/preprocessor"]
	path = lib/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "lib/google/test"]
	path = lib/google/test
	url = https://github.com/google/googletest
[submodule "lib/google/gmock-global"]
	path = lib/google/gmock-global
	url = https://github.com/apriorit/gmock-global
