[submodule "rp2040/lib/mcp2515"]
	path = lib/rp2040/pico-mcp2515
	url = https://github.com/cityracingteam/pico-mcp2515
[submodule "rp2040/lib/can2040"]
	path = lib/rp2040/can2040
	url = https://github.com/KevinOConnor/can2040
[submodule "rp2040/lib/pico-sdk"]
	path = lib/rp2040/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/boost/preprocessor"]
	path = lib/common/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "lib/google/test"]
	path = lib/test/google/test
	url = https://github.com/google/googletest
[submodule "lib/google/gmock-global"]
	path = lib/test/google/gmock-global
	url = https://github.com/apriorit/gmock-global
[submodule "linux/socketcan/lib/libsockcanpp"]
	path = lib/linux/socketcan/libsockcanpp
	url = https://github.com/SimonCahill/libsockcanpp
[submodule "lib/boost/conversion"]
	path = lib/common/boost/conversion
	url = https://github.com/boostorg/conversion
[submodule "lib/boost/assert"]
	path = lib/common/boost/assert
	url = https://github.com/boostorg/assert
[submodule "lib/boost/config"]
	path = lib/common/boost/config
	url = https://github.com/boostorg/config
[submodule "lib/boost/smart_ptr"]
	path = lib/common/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "lib/boost/throw_exception"]
	path = lib/common/boost/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "lib/boost/core"]
	path = lib/common/boost/core
	url = https://github.com/boostorg/core
[submodule "lib/boost/static_assert"]
	path = lib/common/boost/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "lib/cmake/modules"]
	path = lib/cmake/modules
	url = https://github.com/csgracing/cmake-modules
[submodule "lib/google/fuzztest"]
	path = lib/test/google/fuzztest
	url = https://github.com/google/fuzztest.git
[submodule "lib/docs/doxygen-awesome"]
	path = lib/docs/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/common/moodycamel/concurrentqueue"]
	path = lib/common/moodycamel/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "lib/common/boost/system"]
	path = lib/common/boost/system
	url = https://github.com/boostorg/system
[submodule "lib/common/boost/variant2"]
	path = lib/common/boost/variant2
	url = https://github.com/boostorg/variant2
[submodule "lib/common/boost/mp11"]
	path = lib/common/boost/mp11
	url = https://github.com/boostorg/mp11
[submodule "lib/common/boost/winapi"]
	path = lib/common/boost/winapi
	url = https://github.com/boostorg/winapi
[submodule "lib/common/boost/predef"]
	path = lib/common/boost/predef
	url = https://github.com/boostorg/predef
