name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false
      matrix:
        preset: [pico]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Install toolchain
      run: sudo apt update && sudo apt install -y cmake gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential libstdc++-arm-none-eabi-newlib python3 git nodejs
    - name: Configure
      run: cmake -B build . --preset ${{ matrix.preset }}
    - name: Build
      run: cmake --build build --parallel $(nproc)
  
  test:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - preset: "pico-test"
            target: "can_rp2040_mcp2515_test"

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Install toolchain
      run: sudo apt update && sudo apt install -y cmake gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential libstdc++-arm-none-eabi-newlib python3 git nodejs
    - name: Configure
      run: cmake -B build . --preset ${{ matrix.preset }}
    - name: Build
      run: cmake --build build --parallel $(nproc) -t ${{ matrix.target }}
    - name: Test
      run: ./build/test-bin/${{ matrix.target }}
    - name: Report test summary
      uses: test-summary/action@v2
      with:
        paths: "**/*.tap"
      if: always()

